DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=123qwe
DB_HOST=database
DB_PORT=5432
ALLOWED_HOST=*
DEBUG=True
DJANGO_SECRET=
PUB_KEY=
STRIPE_SECRET_KEY=
APP_URL=http://localhost
DRIVER_PATH=/usr/bin/chromedriver